.footer {
  background: #89C4D6;
  padding: 32px 130px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.top_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 30px;
  flex-wrap: wrap;
  border-bottom: 4px solid #0B0D9F;
  padding-bottom: 48px;
}

.left_top_footer {
  display: flex;
  max-width: 247px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.text_footer1 {
  font-family: Overlock;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.99%;
  /* 31.198px */
  letter-spacing: -0.6px;
  max-width: 219px;
}

.mid_top_footer {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 16px;
}

.acesso_rapido_footer {
  font-family: Overlock;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 155.99%;
  /* 37.438px */
  letter-spacing: -0.72px;
}

.acesso_footer {
  font-family: Overlock;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 155.99%;
  /* 31.198px */
  letter-spacing: -0.6px;
}

.mid_top_footer .acesso_footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right_top_footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.text_footer2 {
  font-family: Overlock;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 105.182%;
  /* 25.244px */
  letter-spacing: -1.44px;
  max-width: 219px;
}

.bot_footer {
  display: flex;
  padding: 0px 8px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  align-self: stretch;
}

.footer_copy {
  font-family: Overlock;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}

.seila {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

@media (max-width: 1024px) {
  .footer {
    padding: 20px 20px;
  }
}


@media (max-width: 767px) {
  .rapido_none{
    display: none;
  }

  .top_footer{
    gap: 16px;
  }

  .bot_footer{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .footer_copy{
    font-size: 15px;
  }
}